* {
  padding: 0px;
  margin: 0px;
}
.minorContainer{
  display:flex;
     flex: column;
     align-items: center;
 grid-area: CENTER;
 /* margin: 100px 0px 0px 0px; */
 min-height: 80vh;
}
.majorContainer {
 font-family: 'Overpass', sans-serif;
 font-style: normal;
 
 display: grid;
 grid-template-columns: auto 700px auto;
 grid-template-areas: ". CENTER .";
 
}
.titleContainer{
 display: flex;
 flex-direction: column;
 /* align-items: center; */
}

.headingTitle{
  color: #E4572E;
  font-size: 27px;
  padding-bottom: 3px;
}

.name{
  background:transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight:bold;
  color: #05386B;
  font-size: 72px;
  margin-bottom: 10px  ;
  padding:1px 0px 5px  0px;
  line-height: 80px;
}
.para,.paraBig{
  color: #FFF4EC;
}
.para{
  font-size: 22px;
  padding: 20px 0px 0px 0px;
}
.paraBig{
  font-size: 47px;
  line-height: 35px;
}
/* .margin{
  border-bottom:10px solid #FFF4EC;
} */