* {
  padding: 0px;
  margin: 0px;
}
.minorContainer{
 padding: 0px 0px 0px 0px;
}
/* .emptyContainer{
 grid-area: emptyContainer;
 background-color: #E4572E;
} */
.columnOne{
 grid-area: columnOne;
 
}
.columnTwo{
 grid-area: columnTwo;
 
}
.majorContainer {
 font-family: 'Overpass', sans-serif;
 font-style: normal;
 padding: 0px 0px 20px 0px;
 display: grid;
 grid-template-columns: 300px 300px ;
 grid-template-areas: "columnOne columnTwo";
 gap: 20px;
 
}
.inputBox{
  border-left: 2px  solid #E4572E;
  border-right-style: hidden;
  border-bottom: 2px solid #E4572E;
  border-top-style:hidden;
  background-color: #5CDB95;
  transform: translateY(-5px);
  /* placeholder: {color: #E4572E;} */
}
.inputBoxDecor{
  border-left: 2px  solid #05386B;
  border-right: 2px  solid #05386B;
  border-bottom: 2px solid #05386B;
  border-top: 2px  solid #05386B;
  background-color: #5CDB95;
  width:150px ;
  height: 20px;
  padding:0px 0px 2px 6px;
  margin-bottom: 15px;
}
/* .titleContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
} */

/* .headingTitle{
  color: #E4572E;
  font-size: 35px;
  display: flex;
  direction: row;
} */
/* .name{
  color: #05386B;
  font-size: 70px;
  margin: 0px ;
  line-height: 80px;
} */
.para,.paraBig{
  color: #05386B;
  /* display: grid; */

}
.para{
  font-size: 20px;
  padding: 0px 0px 0px 0px;
}
.paraBig{
  font-size: 35px;
  padding: 0px 0px 0px 10px;
}
/* .margin{
  border-bottom:10px solid #FFF4EC;
} */