* {
     padding: 0px;
     margin: 0px;
   }
   .content{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #E4572E;
   }
   .majorContainer{
    padding: 40px 0px 0px 0px;
   }