@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {
     padding: 0px;
     margin: 0px;
     background-color: #5CDB95;

   }